/* Global Styles */
body {
  background-color: #1f1e1e !important; /* Dark background for the whole app */
  color: #ffffff !important; /* Light text color for readability */
}

/* Custom Navbar Styles - Transparent Navbar */
.custom-navbar {
  background-color: transparent !important;
  color: #ffffff;
  box-shadow: none;
}


.custom-navbar .nav-link, .custom-navbar .navbar-brand {
  color: #ffffff;
}

.custom-navbar .nav-link:hover, .custom-navbar .navbar-brand:hover {
  color: #ffcc00; /* Color for hover state */
}

.custom-navbar .nav-link.active, .custom-navbar .navbar-brand.active {
  color: #ffcc00 !important; /* or any color you want for active links */
}

/* Responsive Navbar Toggle */
.custom-navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

/* Base layout */
.image-generator-container {
  display: flex;
  flex-direction: column; /* Stack the prompt and style nav vertically */
  align-items: center; /* Center align the flex items */
  justify-content: flex-start; /* Align items to the start of the main axis */
  height: 100vh;
  font-family: 'Roboto', sans-serif; /* or your preferred modern font */
  padding: 20px; /* Add some padding */
}

/* Style Nav Styles */
.style-nav {
  display: flex;
  justify-content: center; /* Center the buttons container */
  flex-wrap: wrap; /* Allow wrapping if needed */
  gap: 10px; /* Space between buttons */
  margin-top: 10px; /* Space below the prompt bar */
  margin-bottom: 20px; /* Space above the generated image */
}

/* Button Styles */
.style-nav button {
  padding: 1px 10px; /* Adjust padding as needed */
  font-size: .9em; /* Adjust font size as needed */
  border: .5px dashed #ffffff;
  background-color: #1f1e1e;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  flex-grow: 0; /* Do not allow the buttons to grow */
  flex-shrink: 0; /* Do not allow the buttons to shrink */
  min-width: 120px; /* Minimum width of buttons to avoid squishing */
  text-align: center; /* Center text within the buttons */
}

/* Selected button state */

.style-nav button.selected-style {
  background-color: #e1c724;
  color: #000000;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
}


/* Unselected button state */
.style-nav button:not(.selected-style):hover {
  background-color: #6f7376;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .style-nav {
    flex-direction: row;
    justify-content: space-evenly; /* Distribute buttons evenly */
  }

  .style-nav button {
    min-width: 100px; /* Smaller min-width for smaller screens */
  }
}


/* loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Images */

.images-grid {
  column-count: 2; /* Create 2 columns */
  column-gap: 10px; /* Space between columns */
  max-width: 800px; /* Adjust the max-width as necessary */
  margin: auto;
}

.image-container {
  cursor: pointer;
  break-inside: avoid; /* Prevents images from splitting across columns */
  margin-bottom: 10px; /* Space between images */
  overflow: hidden; /* Ensures the content fits within the container */
}

.image-container img {
  width: 100%; /* Make images fill their container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra space below images */
}

/* SingleImage.css */

.modal-lg {
  max-width: 100%; /* Adjust based on your preference */
}

.image-details {
  cursor: pointer;
  background-color: rgb(255, 255, 255); /* Semi-transparent background */
  color: #000000; /* White color text */
  padding: 10px; /* Padding around text */
  border-radius: 5px; /* Optional: rounded corners for the background */
  margin-top: 15px; /* Space above the details */
}

.modal-title {
  cursor: pointer;
  background-color: rgb(255, 255, 255) !important; /* Semi-transparent background */
  font-size: 125% !important; /* Adjust font size as needed */
  width: 100% !important; /* Full width */
  color: #000000 !important; /* White color text */
  padding: 5 !important; /* Padding around text */
  border-radius: 5px !important; /* Optional: rounded corners for the background */
}

.editable-text-input, .editable-text-span {
  display: block;
  width: 75%;
  margin: auto !important; /* Centers the text horizontally */
  text-align: center !important; /* Centers the text within the element */
}


/* ImageGenerator.css */

.image-generator-container {
  display: flex;
}

/* Single Image Download */

.image-downloadable {
  cursor: pointer; /* Change the cursor to signify clickable */
  position: relative;
  transition: filter 0.2s ease-in-out;
}

.image-downloadable:hover {
  filter: brightness(80%); /* Darken image slightly */
}

.download-icon {
  display: none; /* Hide icon by default */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* or any color you prefer */
  font-size: 2em; /* Adjust size as needed */
  z-index: 10;
  pointer-events: none; /* Prevents the icon from being clickable */
}

.image-downloadable:hover .download-icon {
  display: block; /* Show icon on hover */
}


/* Landing */

.guest-home {
  text-align: left !important;
}

/* Fullscreen background video */
.background-video {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  object-fit: cover; /* Cover the full viewport */
}

/* About Section */
.about-section {
  position: relative;
  z-index: 2;
  background-color: transparent;
  padding: 2rem;
  margin-top: 4rem; /* Ensure it's below the navbar */
}

.auth-form-container {
  z-index: 2; /* Ensures the form is above the video */
  position: relative;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide overflow to maintain full-screen video */
}

.video-section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Video stays in the background */
}

/* home */

.matrix-terminal {
  background-color: #1f1e1e; /* Dark background */
  color: #ffcc00; /* Neon green text */
  font-family: Arial, Helvetica, sans-serif; /* Monospace font */
  min-height: 100vh; /* Full height terminal */
  padding: 20px;
  outline: none;
  height: 100vh; /* Make it full screen */
  overflow-y: auto; /* Enable scrolling */
  position: relative; /* Required for absolute positioning of children */
}

.invisible-input {
  position: relative; /* Adjust the positioning */
  width: 100%;
  height: 100%;
  border: none;
  color: transparent; /* Hide the text */
  caret-color: #ffcc00; /* Color of the blinking cursor */
  background: transparent;
  font-size: 1em; /* Match font size with your terminal */
  outline: none; /* Remove focus outline */
}

.terminal-output {
  white-space: pre; /* Maintain white spaces and line breaks */
}

.matrix-terminal h3 {
  margin-bottom: 20px;
}

/* Blinking Cursor */
.cursor {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px; /* Width of the cursor */
  height: 100%;
  background: #ffcc00; /* Color of the cursor */
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}




.icon-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 20px auto; /* Adjust top margin and center horizontally */
  padding: 10px;
  border: 2px solid #ffcc00;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
}


.icon-container .fa-circle {
  font-size: 1em;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%; /* Circular shape */
  transition: color 0.3s, box-shadow 0.3s;
}

.icon-container .fa-circle:hover {
  color: #fafafa; /* Change color on hover */
  box-shadow: 0px 0px 8px 1px #ffffff;
  
}


.icon1 {
  color: rgb(152, 152, 205);
}

.icon2 {
  color: rgb(241, 229, 153);
}

.icon3 {
  color: rgb(246, 163, 221);
}

.icon4 {
  color: rgb(195, 255, 207);
}

/* ImageEditor */

.image-editor-container {
  display: flex;
}

.text-center img {
  max-width: 100%; /* Ensure the image is never wider than its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra space below images */
  margin: 0 auto; /* Center the image within its container */
}

/* Responsive design adjustments for small screens */
@media (max-width: 768px) {
  .text-center img {
    width: 100%; /* Make the image take the full width of its container */
  }
  
  /* You might want to adjust the style navigation buttons for small screens too */
  .style-nav button {
    padding: 10px 5px; /* Smaller padding on small screens */
    font-size: 0.8em; /* Smaller font size on small screens */
    min-width: 80px; /* Adjust the min-width as needed for smaller screens */
  }
  
  /* Adjust the prompt input field size on small screens if necessary */
  .input-group .form-control {
    font-size: 0.8em; /* Smaller font size on small screens */
  }
}
/* Model Switcher Styles */
.model-switcher {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Model Button Styles */
.model-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #1f1e1e; /* Primary color */
  color: white;
  border: 1px dashed white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-transform: uppercase; /* Make the text uppercase */
  letter-spacing: 1px; /* Increase letter spacing for better readability */
}

.model-button:hover {
  background-color: #6f7376; /* A slightly darker shade for hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.model-button.selected {
  background-color: #e1c724; /* Highlight color for selected button */
  color: rgb(0, 0, 0); /* Text color for selected button */
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
}
