/* Global Styles */
body {
  background-color: #1f1e1e !important; /* Dark background for the whole app */
  color: #ffffff !important; /* Light text color for readability */
}

/* Custom Navbar Styles - Transparent Navbar */
.custom-navbar {
  background-color: transparent !important;
  color: #ffffff;
  box-shadow: none;
}


.custom-navbar .nav-link, .custom-navbar .navbar-brand {
  color: #ffffff;
}

.custom-navbar .nav-link:hover, .custom-navbar .navbar-brand:hover {
  color: #ffcc00; /* Color for hover state */
}

.custom-navbar .nav-link.active, .custom-navbar .navbar-brand.active {
  color: #ffcc00 !important; /* or any color you want for active links */
}

/* Responsive Navbar Toggle */
.custom-navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

/* Side Nav Styles - Adjusted for Dark Theme */
.side-nav {
  flex: 0 0 175px;
  padding: 20px;
  background-color: #333 !important; /* Dark background for side nav */
  color: #262525; /* Light text color for side nav */
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-nav button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #444 !important; /* Dark background for buttons */
  color: #ffffff; /* White text color for buttons */
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px !important;
  box-shadow: #1f1e1e !important;
}

.side-nav button:hover {
  background-color: #969592 !important; /* Color for hover state */
  ;
}
/* loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Images */

.images-grid {
  column-count: 2; /* Create 2 columns */
  column-gap: 10px; /* Space between columns */
  max-width: 800px; /* Adjust the max-width as necessary */
  margin: auto;
}

.image-container {
  cursor: pointer;
  break-inside: avoid; /* Prevents images from splitting across columns */
  margin-bottom: 10px; /* Space between images */
  overflow: hidden; /* Ensures the content fits within the container */
}

.image-container img {
  width: 100%; /* Make images fill their container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra space below images */
}

/* SingleImage.css */

.image-view {
  text-align: center; /* Center aligns all content */
  max-width: 800px; /* Adjust the width as needed */
  margin: auto; /* Centers the container */
  padding: 20px;
}

.image-view img {
  width: 100%; /* Make images fill their container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra space below images */
  object-fit: cover; /* Adjusts the image to cover the area, maintaining aspect ratio */
  margin-bottom: 20px; /* Space below the image */
  
}

.image-details {
  font-size: 1.2em; /* Adjust font size as needed */
  margin-bottom: 10px; /* Space below each detail */
  color: white !important;
}

/* ImageGenerator.css */

.image-generator-container {
  display: flex;
}

.side-nav {
  flex: 0 0 175px; 
  padding: 20px;
  background-color: #f7f7f7;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-nav button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #eaeaea;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px; /* Adjust the value to control the level of rounding */
}

.side-nav button:hover {
  background-color: #dcdcdc;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

/* Single Image Download */

.image-downloadable {
  cursor: pointer; /* Change the cursor to signify clickable */
  position: relative;
  transition: filter 0.2s ease-in-out;
}

.image-downloadable:hover {
  filter: brightness(80%); /* Darken image slightly */
}

.download-icon {
  display: none; /* Hide icon by default */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* or any color you prefer */
  font-size: 2em; /* Adjust size as needed */
  z-index: 10;
  pointer-events: none; /* Prevents the icon from being clickable */
}

.image-downloadable:hover .download-icon {
  display: block; /* Show icon on hover */
}


/* Landing */

.guest-home {
  text-align: left !important;
}

/* Fullscreen background video */
.background-video {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  object-fit: cover; /* Cover the full viewport */
}

/* About Section */
.about-section {
  position: relative;
  z-index: 2;
  background-color: transparent;
  padding: 2rem;
  margin-top: 4rem; /* Ensure it's below the navbar */
}

.auth-form-container {
  z-index: 2; /* Ensures the form is above the video */
  position: relative;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide overflow to maintain full-screen video */
}

.video-section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Video stays in the background */
}
