/* Dark mode styles */
body.dark-mode {
  background-color: #2b2828;
  color: #ffffff;
}

/* Navbar container */
.navbar {
  transition: background-color 0.2s ease; /* Smooth transition for dark mode */
  justify-content: space-between; /* Align items horizontally with space in between */
  align-items: center; /* Align items vertically to the center */
  padding: 10px; /* Add some padding for better spacing */
}

/* Navbar text color */
.nav-link, .navbar-brand {
  color: #4f4f4f !important; /* Text color for links and brand when in dark mode */
}

/* Navbar link hover color */
.nav-link:hover {
  color: #ffcc00 !important; /* Hover color for links in dark mode */
}

/* Navbar toggler icon color */
.navbar-toggler-icon {
  background-color: #ffffff !important; /* Color for the navbar toggler icon in dark mode */
}

/* Dark mode toggle button */
.btn-toggle-dark-mode {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2.2em;
  line-height: 1;
  display: flex;
  align-items: center;
  transition: color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  border-radius: 50%; /* Makes the button circular */
  padding: 2px; /* Adds some space around the emoji */
  color: #ffffff; /* Color for the dark mode toggle button */
}

/* Dark mode toggle button hover */
.btn-toggle-dark-mode:hover {
  color: #ffcc00; /* Hover color for the dark mode toggle button */
  box-shadow: 0 0 8px 0 rgba(255, 204, 0, 0.6); /* Subtle circular shadow effect */
}

body.dark-mode .side-nav {
  background-color: #333; /* Dark background for side nav in dark mode */
  color: #ffffff; /* Light text color for side nav in dark mode */
}

body.dark-mode .side-nav button {
  background-color: #444; /* Dark background for buttons in side nav */
  color: #ffffff; /* Light text color for buttons in side nav */
}

body.dark-mode .side-nav button:hover {
  background-color: #555; /* Slightly lighter background color on hover */
}


/* loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Images */

.images-grid {
  column-count: 2; /* Create 2 columns */
  column-gap: 10px; /* Space between columns */
  max-width: 800px; /* Adjust the max-width as necessary */
  margin: auto;
}

.image-container {
  break-inside: avoid; /* Prevents images from splitting across columns */
  margin-bottom: 10px; /* Space between images */
  overflow: hidden; /* Ensures the content fits within the container */
}

.image-container img {
  width: 100%; /* Make images fill their container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove extra space below images */
}

/* SingleImage.css */

.image-view {
  text-align: center; /* Center aligns all content */
  max-width: 800px; /* Adjust the width as needed */
  margin: auto; /* Centers the container */
  padding: 20px;
}

.image-view img {
  max-width: 100%; /* Ensures the image is responsive */
  max-height: 800px; /* Adjust the maximum height as needed */
  object-fit: cover; /* Adjusts the image to cover the area, maintaining aspect ratio */
  margin-bottom: 20px; /* Space below the image */
}

.image-details {
  font-size: 1.2em; /* Adjust font size as needed */
  margin-bottom: 10px; /* Space below each detail */
}

/* ImageGenerator.css */

.image-generator-container {
  display: flex;
}

.side-nav {
  flex: 0 0 200px; /* Adjust width as needed */
  padding: 20px;
  background-color: #f7f7f7; /* Background color for side nav */
  height: 100vh; /* Full height */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Optional shadow effect */
}

.side-nav button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  background-color: #eaeaea; /* Button background color */
  cursor: pointer;
  transition: background-color 0.3s;
}

.side-nav button:hover {
  background-color: #dcdcdc;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
